@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource/poppins";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #fafaf5;
  --foreground: var(--color-neutral-700);
  --card: var(--color-white);
  --card-foreground: var(--color-neutral-700);
  --popover: var(--color-white);
  --popover-foreground: var(--color-neutral-700);
  --primary: oklch(0.6385 0.198468 253.2582);
  --primary-foreground: oklch(0.98 0.01 237);
  --secondary: oklch(0.95 0.0543 94.54);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: var(--color-neutral-200);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: var(--color-neutral-200);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: var(--color-red-100);
  --border: var(--color-neutral-200);
  --input: var(--color-neutral-300);
  --ring: var(--color-neutral-300);
  --chart-1: oklch(0.83 0.1 230);
  --chart-2: oklch(0.75 0.14 233);
  --chart-3: oklch(0.68 0.15 237);
  --chart-4: oklch(0.6385 0.198468 253.2582);
  --chart-5: oklch(0.5 0.12 243);
  --radius: 0.8rem;
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.6385 0.198468 253.2582);
  --sidebar-primary-foreground: oklch(0.98 0.01 237);
  --sidebar-accent: var(--color-neutral-200);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: var(--color-neutral-300);
  --sidebar-ring: var(--color-neutral-300);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.001 106.423);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.001 106.423);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.001 106.423);
  --primary: oklch(0.68 0.15 237);
  --primary-foreground: oklch(0.29 0.06 243);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.001 106.423);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.553 0.013 58.071);
  --chart-1: oklch(0.83 0.1 230);
  --chart-2: oklch(0.75 0.14 233);
  --chart-3: oklch(0.68 0.15 237);
  --chart-4: oklch(0.6385 0.198468 253.2582);
  --chart-5: oklch(0.5 0.12 243);
  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.75 0.14 233);
  --sidebar-primary-foreground: oklch(0.29 0.06 243);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --font-sans: "Poppins", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground;
  }
  p,
  li,
  a {
    @apply text-neutral-500;
  }
  html {
    @apply font-sans;
  }
}

.ProseMirror .ProseMirror-resizable {
  @apply inline-block max-w-full;
}

.ProseMirror .ProseMirror-resizable img {
  @apply max-w-full rounded-md;
}

.ProseMirror .ProseMirror-resizable .resize-handle {
  @apply bg-border border border-background size-2 rounded-sm;
}
